*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px;
    gap: 20px;
}


a{
    color: white;
    text-decoration: none;
}